body {
    /* Degradado de negro a un verde oscuro tecnológico */
    background: linear-gradient(to right, #000000, #003300);
    color: #e0e0e0; /* Color de texto claro para que contraste */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
}

header h1 {
    margin-top: 0;
    font-size: 2.5rem;
    color: #00FF00; /* Un verde brillante para el título principal */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #000000;
    border-bottom: 2px solid #00FF00;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00FF00;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h2, h3, h4 {
    color: #00FF00;
    border-bottom: 1px solid #00FF00;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #00FF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.proyecto-item {
    margin-bottom: 20px;
    border: 1px solid #003300;
    padding: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #000000;
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
}

small {
    color: #aaaaaa;
}